body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    background-color: #fff;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials,
.f-info-links {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */

.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0;
}

.card-text {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: #fff;
}

.card-img-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.card h5 {
    font-size: 1.2rem;
}

/* new page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page */

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */

.show-img {
    height: 30vh;
}

.btn {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* show all comments */
.card1 {
    border: 2px solid #222222;
    padding: 0.5rem;
    /* Adds padding inside the card */
    background-color: #f8f9fa;
    /* Light background for contrast */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for card effect */
    border-radius: 8px;
    /* Rounded corners for smoother edges */
}

/* .card1 .card-body {
    padding: 1rem;
  } */

.card1 .card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.card1 .card-text {
    font-size: 0.8rem;
    color: #555;
}

/* Map */
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}